KUVEYT_CUSTOMER_ID=
KUVEYT_MERCHANT_ID=726034
KUVEYT_USERNAME=
KUVEYT_PASSWORD=
KUVEYT_OK_URL=https://YOUR_DOMAIN.com/api/kuveyt/ok
KUVEYT_FAIL_URL=https://YOUR_DOMAIN.com/api/kuveyt/fail
KUVEYT_PAY_URL=https://sanalpos.kuveytturk.com.tr/ServiceGateWay/Home/ThreeDModelPayGate
KUVEYT_PROVISION_URL=https://sanalpos.kuveytturk.com.tr/ServiceGateWay/Home/ThreeDModelProvisionGate
